<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:pc="http://java.sun.com/jsf/composite/custom_component"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:security="http://www.springframework.org/security/tags"
                template="/WEB-INF/template.xhtml">

    <ui:define name="titre"> - Accueil</ui:define>

    <ui:define name="subheader">

    </ui:define>


    <ui:define name="content">
            <div class="Container100">
                <div class="ContainerIndent">
                    <div class="Card ShadowEffect TexAlCenter">

                        <p:panel id="panel_acceuil" style="text-align;"
                                 header="Page d'accueil">
                            <br/>


                            <br/>
                            <br/>
                        </p:panel>

                    </div>
                </div>
            </div>

            <div class="form-actions-general">
                <p:toolbar id="toolBarAction">
                    <p:toolbarGroup align="right">

                    </p:toolbarGroup>
                </p:toolbar>
            </div>

            <br/>
            <br/>
    </ui:define>


</ui:composition>
