<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pm="http://primefaces.org/modena">

	<div class="Animated05" id="layout-menu-cover">
		<h:form id="menuform">

			<pm:menu>
				<p:menuitem id="rm_dashboard" value="Accueil" icon="icon-dvr"
					outcome="ACCUEIL" />


				<p:menuitem id="rm_liste_joueurs" value="Test"
					icon="icon-archive" outcome="ACCUEIL"/>

				<p:separator />
			</pm:menu>
		</h:form>

	</div>

</ui:composition>